<!DOCTYPE html>

<html>
    <head>

        <style>
            
            body {background-color: powderblue;}
        
        </style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Book a room</title>
       
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action = ''  method='POST'>
            {{form.as_p}} 

          {% csrf_token %}
        <button type="submit" >Book Room</button>

        </form>
        
        <script src="" async defer></script>
    </body>
</html>