<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        
        <title>Room Detail</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/692189991f.js" crossorigin = "anonymous"></script>
        <link rel="stylesheet" href="detail.css">
    </head>
    <body>
        <!---Main Content-->
        <div class = "content">
            <!---Room Image-->
            <div class = "image">
                <img
                  src="https://unsplash.com/photos/white-bedspread-and-black-wooden-bed-aRT5UCf2MYY">
            </div>
    <!--Room Detail-->
    <div class = "room">
        <!--Div 1:Back to home -->
        <div class = "home">
            <a href="home.html"><i class = "fas fa-arrow-alt-circle-left">Home</i></a>
        </div>

    <!--Div 2: Room Information -->

    <div class = "room-info">
        <h1> Delux Suite</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
             'Content here, content here', making it look like readable English. </p>

        </div>
        
        
        <script src="" async defer></script>
    </body>
</html>